@import "components/_variables";

/*
01. BASE
Base CSS rules
*/

body {
	background: @primary-background;
	font-family: @body-copy;
	font-size: @base-font-size;
	line-height: @base-line-height;
	color: @primary-text;
}

ul, ol {
}

li {
}

a, a:link, a:visited {
}

a:hover {
}

p {
}

hr {
}

/*
02. LAYOUT
Styles specific to the layout of a site
*/
.header .container {
	background: @primary-background;
	padding-left: 0;
	padding-right: 0;
}

.header {
	padding: (@padding * 4);
}

.main-nav {
	line-height: 36px;
}

.main-nav ul {
	margin-bottom: 0;
}

.main-nav li.divider {
	color: @grey;
}

.main-nav a {
	text-decoration: none;
}

.main-nav a:hover {
	border-bottom: (@border-size * 5) @border-type @grey;
	transition: @border-color 0.2s ease;
}

.public-banner .col-lg-12 {
	padding-left: 0;
	padding-right: 0;
}

.public-banner img {
	width: 100%;
	height: auto;
}

.home-about {
	padding: (@padding * 4) 0 (@padding * 6 ) 0;
}

// Center all items
.home-food {
	text-align: center;
}

// Add a little extra padding under images
.home-food img {
	padding-bottom: @padding;
}

.reviews {
	padding: (@padding * 4) 0 (@padding * 6) 0;
}

.footer {
	text-align: center;
	color: @inverse-text;
	padding-bottom: (@padding * 4);
}

.footer .container {
	background: @inverse-background;
	padding: (@padding * 4);
}

// Add padding around social media links
.social-media {
	padding: @padding 0;
}

// Space out social media icons and change link colour
.social-media a {
	padding: 0 (@padding - 0.5);
	color: @white;
}

// Hover link colour for social media icons
.social-media a:hover {
	color: @grey;
}

/*
03. MODULE
*/

@import "components/_typography.less";
@import "components/_carousel.less";

/*
04. STATE
These styles refer to anything that applies to a state change, such as form validation or alert bars.
*/