<div class="container">
	<!-- img banner //-->
	<div class="public-banner">
	  <div class="row">
	    <div class="col-lg-12">
	      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20822.39053484898!2d-123.11777955000004!3d49.28020924999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486717f41ba2fb1%3A0xc6952794560a44aa!2sDowntown%2C+Vancouver%2C+BC!5e0!3m2!1sen!2sca!4v1434608605144" width="1170" height="500" frameborder="0" style="border:0"></iframe>
	    </div>
	  </div>
	</div>
  <!-- about //-->
  <div class="page-body">
	  <div class="row center">
			<div class="col-lg-4">
				<h3>Hours</h3>
				<p>Open 7 days a week 12pm to 9pm.</p>
			</div>
			<div class="col-lg-4">
				<h3>Location</h3>
				<p>
					1234 Street Name<br />
					Vancouver, BC<br />
					604.123.1234
				</p>
			</div>
		  <div class="col-lg-4">
		  	<h3>Reservations</h3>
		  	<p>For reservations, please call 604.123.1234. 24 hours notice required to cancel a reservation.</p>
		  </div>
	  </div>
	</div>
</div>

<%- partial("partial/_reservation-modal") %>