<!-- reservation modal //-->
<div class="modal fade" id="reservation-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Book Reservation</h4>
      </div>
      <div class="modal-body">
        <form>
        	<div class="form-group">
        		<label>Name</label>
        		<input type="text" class="form-control" placeholder="Enter your name">
        	</div>
        	<div class="form-group">
        		<label>Date</label>
        		<input type="text" class="form-control" placeholder="Enter your date">
        	</div>
        	<div class="form-group">
        		<label>Guests</label>
        		<input type="text" class="form-control" placeholder="Enter the number of guests">
        	</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->